.chats-container {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    display: flex;
    padding: 20px;
}

.conversations-container {
    flex: 1;
    display: flex;
    flex-direction: column;
    margin-right: 20px;
}

.user-name {
    margin-top: 0;
}

.conversations {
    flex: 1;
    min-height: 0;
    justify-content: flex-end;
    display: flex;
    flex-direction: column;
}

.select-conversation-button {
    margin: 10px 0;
    font-size: 20px;
    color: black;
    background: white;
    padding: 12px 6px;
    border-radius: 7px;
    border-width: 2px;
    border-style: inset;
    border-color: #31a24c;
    border-image: initial;
}

.start-conversation-button {
    font-size: 28px;
    font-weight: 600;
    color: white;
    background: #31a24c;
    padding: 24px 12px;
    border: none;
    margin-top: 10px
}
